name: Main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'

jobs:
  checks:
    name: ${{ matrix.task_name }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 3
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        include:
          - os: ubuntu-latest
            task_name: Test
            task_run: make test PLENARY=_runtime/plenary.nvim
            nvim_url: https://github.com/neovim/neovim/releases/download/nightly/nvim-linux64.tar.gz
            packages: luarocks ripgrep
            manager: sudo apt-get

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install packages
        if: ${{ matrix.packages }}
        run: ${{ matrix.manager }} install ${{ matrix.packages }}

      - name: Install neovim (nix)
        shell: bash
        run: |
          # Download neovim nightly.
          mkdir -p _neovim
          curl -sL ${{ matrix.nvim_url }} | tar xzf - --strip-components=1 -C "${PWD}/_neovim"

      - name: Install plugin dependencies
        shell: bash
        run: |
          # Clone plenary.
          mkdir -p _runtime
          git clone --depth 1 https://github.com/nvim-lua/plenary.nvim _runtime/plenary.nvim

      - name: Show environment
        shell: bash
        run: |
          ls -lh _neovim
          ls -lh _runtime

      - name: Run Task - ${{ matrix.task_name }}
        shell: bash
        run: |
          export PATH="${PWD}/_neovim/bin:${PATH}"
          export VIM="${PWD}/_neovim/share/nvim/runtime"

          nvim --version

          ${{ matrix.task_run }}
